
body {
  background-color: #30363D;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: rgb(240, 248, 255);
  margin-top: 15%;
}

.title{
  font-weight: 900;
  font-size: 4em;
}

h1{
  position: absolute;
  margin-top: 0%;
  margin-left: 41%;

}

h2{
  margin-left: 11%;
}

hr{
  margin-left: 40%;
  margin-right: 40%;
}

p{
  margin-top: 4%;
  font-weight: 500;
  font-size: 2em;
}
  