body{
    background: #24303c;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


.titulo-principal{
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    font-weight: 900;
    color: #FFFFFF;
}

form{
    width: 400px;
    height: 340px;
    padding:20px 30px;
    margin:auto;
    background-color: #22374d;
    box-shadow:7px 13px 37px #000 ;
    border-radius: 4px;
    font-family: 'Calibri';
    border-top: 4px solid#017bab;
}

.registrar{
    margin-top: 6%;
    margin-right: 60%;
}


/*
.form-login{
    width: 400px;
    height: 340px;
    background: #22374d;
    padding:20px 30px;
    margin:auto;
    margin-top:180px;
    box-shadow:7px 13px 37px #000 ;
    border-radius: 4px;
    font-family: 'Calibri';
    border-top: 4px solid#017bab;
}
h2{
    margin:0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    font-family: 'Calibri'
}
.controls{
    width: 100%;
    border:1px solid #017bab;
    padding:11px 10px;
    margin-bottom:15px;
    background:#252323;
    font-size: 14px;
    font-weight: bold;


}
*/
