<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radishy</title>

  <!--Tipografia: 'Roboto' .Thin 100-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

  <!--Tipografia: 'Kanit' .Regular 400 italic-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital@1&family=Roboto:wght@100&display=swap" rel="stylesheet">
  
  <!--Tipografia: 'Roboto Mono' .Bold 700 italic-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap" rel="stylesheet">

  <!--Bootstrap css-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <!--CSS-->
  <link rel="stylesheet" href="../static/CSS/home1.css">
  <!--CSS navbar-->
  <link rel="stylesheet" href="../static/CSS/FragmentsStyle/navbar.css">
  <!--CSS footer-->
  <link rel="stylesheet" href="../static/CSS/FragmentsStyle/footer.css" href="../static/CSS/">

  
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <main class="container">
    <article>
      <img class="Imagen-principal" src="/static/IMG/Main/Imagen-Principal8.png" alt="Logo-Principal">
      <h1 class="Titulo-principal">Bienvenidos a Radishy</h1>
    </article>

    <article>
      <img class="article-IMG" src="/static/IMG/Main/Article/people1.png" alt="">
      <h1 class="subtitle" id="sub-somos">¿Quienes somos?</h2>
        <p class="text">Nuestro Equipo comparte una visión sobre una economía sostenible en la cual tengamos autonomía y podamos obtener alimentos sanos, naturales y llenos de nutrientes.<br> Al mismo tiempo, hacer tus propios cultivos es fuente de satisfacción personal, alegría y bienestar. En esta época de tecnología, inmediatez y velocidad, la huerta urbana ayuda a las personas a ser más pacientes y comprensivas.</p>
        <button></button><!--Indexar el primer parrafo de la pagina "sobre nosotros"-->
    </article>

    <article>
      <img class="article-IMG" src="/static/IMG/Main/Article/service1.png" alt="">
      <h1 class="subtitle">¿Que brindamos?</h1>
      <p class="text">Brindamos el servicio de mayor exelencia en toda latioamerica que proporciona a tus plantas los valores fijados por el usuario con el proposito de servir como recordatio a largo plazo</p>
    </article>

    <article>
      <img class="article-IMG" src="/static/IMG/Main/Article/Funcionamiento.png" alt="">
      <h1 class="subtitle">¿Como funciona mis cultivos?</h1>
      <p class="text">Mis cultivos brinda un seguimiento a tiempo real de cada verdura que el usuario añada a su lista de cultivos.<br> Si el usuario quiere cargar una verdura a su lista lo hace haciendo clik en 'Mis Cultivos' y luego en 'Cargar un Cultivo'. En el caso de que el cultivo no se encuentre en la base de datos el usuario podra cargarlo yendo al apartado de 'Mis Cultivos' y luego a 'Crear un Nuevo Cultivo'</p>
    </article>

    <article class="registro">
      <h1 class="sub-register">Registro</h1>
      <p class="text">Para registrarse pueden pulsar el boton de aqui abajo o en su defecto haciendo click en el icono de un
        hombresito que se encuentra en la esquina derecha de la parte superior.</p>
    </article>

    <article class="contacto">
      <h1 class="sub-contac">Contacto</h1>
      <p>Ante cualquier consulta o inconveniente puedes mandarnos un mensaje hacien click </p><a href="">aqui</a>
    </article>
  </main>

</body>

</html>