<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Radishy</title>
        <link rel="stylesheet" href="/static/CSS/home1.css">
    </head>
    <body>
        <main>
            <article>
            <h1 class="Titulo-Principal">Bienvenidos a Radishy</h1>
            <img src="/static/IMG/Main/Imagen-Principal8.png" alt="Logo-Principal">
            <img src="/static/IMG/Main/Imagen-Principal8.jpg" alt="">
            </article>
            <article class="Quienes-somos">
                <h1 class="">¿Quienes somos?</h2>
                <p>Somos la primer empresa latinoamerica ...</p> <!--Indexar el primer parrafo de la pagina "sobre nosotros"-->
            </article>
            
            <article class="Brindar">
                <h1>¿Que brindamos?</h1>
                <p></p>
            </article>

            <article class="Mis-cultivos">
                <h1>¿Como funciona mis cultivos?</h1>
                <p></p>
            </article>

            <article class="Login">
                <h1>Registro</h1>
                <p>Para registrarse pueden pulsar el boton de aqui abajo o en su defecto haciendo click en el icono de un hombresito que se encuentra en la esquina derecha de la parte superior.</p>
            </article>
            
            <article class="Contacto">
                
            </article>
        </main>

    </body>
</html>