<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="/Fragments/head :: head"></div>
  <link rel="stylesheet" href="/CSS/usuario.css">
</head>

<body>
  <nav th:replace="/Fragments/navbar :: navbar"></nav>

  <div class="container">
    
    <!--Error-->
    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
      <span th:text="${error}"></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>

    <div class="formulario">
      
      <!--Title Principal-->
      
      <h1 class="titulo-principal">Iniciar sesion</h1>
      

      <!--Form-->
      <div class="card-body">
          <div sec:authorize="isAuthenticated()">
          <h1 style="color: white;">NO PUEDE ENTRAR ACÁ</h1>
          <h1 style="color: white;">YA TIENE SESIÓN INICIADA</h1>
      </div>
          <div sec:authorize="!isAuthenticated()">
        <form th:action="@{/logincheck}" method="POST" class="col-6 mx-auto">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" name="username" placeholder="Ingrese el nombre de su usuario">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña">
          </div>
          <button type="submit" class="btn-dark px-5 py-2 ms-auto"> Iniciar sesión </button>
          <br>
          <a class="olvidar-contra" th:href="@{/usuario/probando}" th:value="${username}">¿Olvidaste tu contraseña?</a>
          <p class="registrar">¿No tienes una cuenta? <a href="/usuario/registrar">Registrate</a></p>
        </form>
              </div>
      </div>

    </div>

  </div>
  
  <footer th:replace="/Fragments/footer :: footer"></footer>
</body>