<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LOGIN</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width">
    <link rel="shortcut icon" href="/IMG/radishy.png" />
    <meta http-equiv="X-UA Compatible" content="width=device-width, initial-scale=1.0">
    <!--Tipografia: 'Roboto' .Thin 100-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/usuario.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(0, 187, 178);">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="/">
              <img src="/IMG/radishy.png" alt="" width="44" height="38" />
            </a>
  
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle active"
                  style="text-align: center; font-size: 20px; margin-left: 4%;"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Mis cultivos
                </a>
                <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Ver mis cultivos</a></li>
                  <li><a class="dropdown-item" href="#">Cargar un cultivo</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Crear un nuevo cultivo</a>
                  </li>
                </ul>
              </li>
  
              <li class="nav-item">
                <a class="nav-link active" href="#" style="text-align: center; font-size: 20px;"
                  >Contacto</a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link active" href="#" style="text-align: center; font-size: 20px;"
                    >Sobre nosotros</a>
              </li>
            </ul>
  
            <a class="navbar-brand" href="/">
              <img src="/IMG/2561496_user_icon.png" alt="" width="40" height="40"/>
            </a>
            
          </div>
        </div>
      </nav>
       <div class="container">
           <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
               <span th:text="${error}"></span>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
           </div>
       </div>
       <div class="card mt-5">
           <div class="card-header d-flex">
               <h1>Iniciar sesion</h1>
           </div>
           <div class="card-body">
               <form th:action="@{/logincheck}" method="POST" class="col-6 mx-auto">
                   <div class="mb-3">
                       <label for="nombre" class="form-label">Nombre de usuario</label>
                       <input type="text" class="form-control" th:value="${username}" name="username" placeholder="Ingrese el nombre de su usuario">
                   </div>
                   <div class="mb-3">
                       <label for="password" class="form-label">Contraseña</label>
                       <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña">
                   </div>
                   <button type="submit" class="btn-dark px-5 py-2 ms-auto"> Iniciar sesión </button>
                   <br>
                   <a href="/">¿Olvidaste tu contraseña?</a>
                   <p>No tienes una cuenta?<a href="/usuario/registrar">Registrarse</a></p>
               </form>
           </div>
       </div>
      <footer th:fragment="footer">
    <div class="foot-1">
        <h1 class="typography">Redes Sociales</h1>
        <div class="iconos">
            <a href=""><img src="/IMG/facebook.png" alt="Icono Facebook" id="ico-face"></a>
            <a href=""><img src="/IMG/twitter.png" alt="Icono Twitter" id="ico-twit"></a>
            <a href=""><img src="/IMG/instagram.png" alt="Icono Instagram" id="ico-inst"></a>
            <a href=""><img src="/IMG/email.png" alt="Icono Gmail" id="ico-gmail"></a>
        </div>
    </div>
    <h2 class="typography">2021 Copyright Radishy - Todos los derechos reservados.</h2>
  </footer>
</body>