<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <div th:insert="/Fragments/head :: head">
    </div>
    <!--CSS-->
    <link rel="stylesheet" href="/CSS/usuario.css">
  </head>

<body>
  <nav th:replace="/Fragments/navbar :: navbar"></nav>

  <h1>Iniciar sesion</h1>
  <section class="form-login">
    <h5>Login</h5>

    <input class="controls" type="text" name="usuario" id="nombre" value="nombre"
      placeholder="Ingrese su nombre de usuario o ">
    <input class="controls" type="text" name="password" id="password" value="password"
      placeholder="Ingrese su contraseña">
    <button type="button" class="btn btn-link" style="color: rgb(211, 149, 149);"><a
        href="@{/SesionIniciada/loginsuccessful}" class="link"></a></button>

    <p><a href="a"></a>¿Olvidaste tu contraseña?</p>

  </section>

  <footer th:fragment="footer">
    <div class="foot-1">
      <h1 class="typography">Redes Sociales</h1>
      <div class="iconos">
        <a href=""><img src="/IMG/facebook.png" alt="Icono Facebook" id="ico-face"></a>
        <a href=""><img src="/IMG/twitter.png" alt="Icono Twitter" id="ico-twit"></a>
        <a href=""><img src="/IMG/instagram.png" alt="Icono Instagram" id="ico-inst"></a>
        <a href=""><img src="/IMG/email.png" alt="Icono Gmail" id="ico-gmail"></a>
      </div>
    </div>
    <h2 class="typography">2021 Copyright Radishy - Todos los derechos reservados.</h2>
  </footer>
</body>