<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <div th:insert="/Fragments/head :: head">
    </div>
    <!--CSS-->
    <link rel="stylesheet" href="/CSS/usuario.css">
  </head>

<body>
<nav th:replace="/Fragments/navbar :: navbar"></nav>
<div class="container">
           <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
               <span th:text="${error}"></span>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
           </div>
       </div>
       <h1>Iniciar sesion</h1>
      <section class="form-login">
          <h2>Ingrese sus datos de usuario</h2> <!-- Modifiqué la palabra login por lo que dice -->
          
          <input class="controls" type ="text" name="usuario" id="nombre" value="nombre" placeholder="Ingrese su nombre de usuario"> 
          <input class="controls" type ="password" name="password" id="password" value="password" placeholder="Ingrese su contraseña">
          <button type="button" class="btn btn-link" style="color: rgb(211, 149, 149);"><a href="@{/logincheck}" class="link"></a></button>--> <!--/SesionIniciada/loginsuccessful (estaba antes dentro del href) -->
          <input href="@{/logincheck}" class="button" type="submit" name="" value="Ingresar">
          <p><a href="/login/password-missing/new-password"></a>¿Olvidaste tu contraseña?</p> 
        
      </section>

  </section>
  <footer th:replace="/Fragments/footer :: footer"></footer>
</body>