.calendar{
    background-color: rgba(0, 241, 229, 0.171);
    margin-right: 70%;
    margin-bottom: 0%;
}

.imagen{
    margin-top: 40%;
}

.losCultivos{
    margin-left: 30%;
}

.boddy{
    background-image: url(../Img/vintage-wallpaper.png);
}

