*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body { 
    background-image:url("../IMG/field.jpg");
    background-size: 100vw 100vh;
    background-attachment:fixed;
    margin:0px;
    padding:10px 20px;}
h2{ width: 400px;
    background: #22374d;
    padding:30px;
    margin:auto;
    margin-top:80px;
    border-radius: 4px;
    font-family: 'Calibri';
    color: white;
    box-shadow:7px 13px 37px #000 ;
    text-align: center;
    }
    p  { 
        width: 400px;
        background: #22374d;
        padding:30px;
        margin:auto;
        margin-top:80px;
        border-radius: 4px;
        font-family: 'Calibri';
        color: white;
        box-shadow:7px 13px 37px #000 ;
        text-align: center;
        }